.container {
  max-width: 1000px;
  padding: 20px;
}

.logo {
  max-width: 300px;
}

.title {
  font-size: 18pt;
  margin: 20px 0;
}

.subtitle {
  font-size: 14pt;
  margin: 20px 0;
}

.calendarTitle {
  font-weight: bold;
}

.left {
  flex: 1;
  text-align: left;
}

.button {
  margin: .5vh;
}

.details {
  color: gray;
}

.organizer {
  color: gray;
}

.instagram {
  margin-left: 1vh;
  color: gray;
}

.item {
  display: flex;
  flex: 1;
}

.navigation {
  background: #bbbbbb;
}

.centered {
  display: flex;
  align-items: center;
  align-content: center;
  margin: auto;
}

@media only screen and (min-width: 800px) {
  .card {
    margin: 10px auto;
    width: 60%;
  }
  .card:last-child {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 800px) {
  .card {
    margin: 10px auto;
    width: 75%;
  }
  .card:last-child {
    margin-bottom: 50px;
  }
}

.card span {
  color: #AAAAAA;
}
