.container {
  display: flex;
  flex-direction: column;

  padding: 0;
  max-width: 100vw;

  /* fill entire viewport height since we don't need scrolling on this page */
  height: 100vh;
  /* fix for iOS since Safari would otherwise include the status bar in the viewport height */
  max-height: stretch;
}

.mapContainer {
  flex: 1;
}

.modal {
  max-width: 90vw;
}

.popup {
  min-width: 300px;
}

.popupHeading {
  font-size: 18px;
  font-weight: bold;
}

.popupDescription {
  font-size: 10pt;
  margin: 0px !important;
}

.popupVideo {
  width: 800px;
  height: 450px;

  margin-top: 10px;

  border-radius: 4px !important;
}

@media (max-device-width: 768px) {
  .popupVideo {
    width: 80vmin;
    height: 45vmin;
  }
}
