.logo {
  width: 30px;
}

.title {
  font-size: 18pt;
  margin: 10px 0px;
}

.subtitle {
  font-size: 14pt;
  margin: 5px 0px;
}

.question {
  margin-bottom: 10px;
}

.footer {
  margin-top: 10px;
}
