.logo {
  width: 30px;
}

.title {
  font-size: 18pt;
  margin: 10px 0;
}

.subtitle {
  font-size: 14pt;
  margin: 5px 0;
}

.question {
  margin-bottom: 10px;
}

.footer {
  margin-top: 10px;
}

.navbar li {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #818078;
  list-style-type: none;
  margin: 3vh 0;
  vertical-align: center;
}

.navbar li:hover {
  color: #005A9B;
}

.active {
  color: #005A9B;
}
